/*Basic CSS reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bright-orange: #e38826;
  --dark-cyan: #006970;
  --very-dark-cyan: #004241;
  --very-light-grey: #f2f2f2;
  --white: #ffffff;
  --transparent-white: hsla(0, 0%, 100%, 0.75);
}

body {
  background-color: var(--very-light-grey);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
}

.card {
  padding: 3rem;
}

.sedan-card {
  background-color: var(--bright-orange);
  border-radius: 8px 8px 0 0;
}

.suv-card {
  background-color: var(--dark-cyan);
}

.luxury-card {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 8px 8px;
}

.title {
  font-family: "Big Shoulders Display", cursive;
  color: var(--very-light-grey);
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 2.188rem;
  margin-bottom: 1.563rem;
}

.description {
  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.75;
  font-size: 0.938rem;
  margin-bottom: 1.563rem;
  line-height: 25px;
}

.link {
  background-color: var(--white);
  border-radius: 25px;
  text-decoration: none;
  padding: 0.75rem 1.938rem;
  font-size: 0.938rem;
}

.link:hover {
  color: var(--white);
  border: 2px solid var(--white);
}

.sedan-link {
  color: var(--bright-orange);
}

.sedan-link:hover {
  background-color: var(--bright-orange);
}

.suv-link {
  color: var(--dark-cyan);
}

.suv-link:hover {
  background-color: var(--dark-cyan);
}

.luxury-car-link {
  color: var(--very-dark-cyan);
}

.luxury-car-link:hover {
  background-color: var(--very-dark-cyan);
}

footer {
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: 64em) {
  .cards-container {
    display: flex;
    margin-top: 4rem;
  }

  .sedan-card {
    border-radius: 8px 0 0 8px;
  }

  .luxury-card {
    border-radius: 0 8px 8px 0;
  }

  .description {
    width: 212px;
    margin-bottom: 5.188rem;
  }
}
